html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

.grid-container{
  height: 100%;
  display: grid;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: 5rem 1fr 5rem;  
  grid-template-columns: 1fr;  
}

a:hover{
  color: #ff8000;
}

body, input, select, textarea{
  font-size: 1.6rem;
  font-family: sans-serif;
}

header{
  grid-area: header;
  background: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: .5rem;
}

header a{
  color: #fff;
  text-decoration: none;
}

section{
  grid-area: section;
}

footer{
  grid-area: footer;
  background: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}