@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

.grid-container{
  height: 100%;
  display: grid;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: 5rem 1fr 5rem;  
  grid-template-columns: 1fr;  
}

a:hover{
  color: #ff8000;
}

body, input, select, textarea
button{
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
}

header{
  grid-area: header;
  background: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: .5rem;
}

header a{
  color: #fff;
  text-decoration: none;
}

section{
  grid-area: section;
}

footer{
  grid-area: footer;
  background: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
  flex: 0.3;
}

.button{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background: #f0f0f0;
  cursor: pointer;
  flex: 0.7;
}

.button:hover{
  border: 0.1rem #888 solid;
}

.button.primary{
  background: #ffc040;
}

/* FIlter */
.filter{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
  justify-content: space-between;
}

.filter div{
  flex: 1;
}